@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

body {
    height: 100vh;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 24px;
    background: url(/img/table.svg);
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 75%;
    margin: 50% 0rem;
    padding: 2rem 1rem;
    background: rgba(255,255,255,0.25);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 2px solid rgba(255,255,255,0.125);
    border-radius: 10px;
}

h1 {
    color: goldenrod;
    justify-content: center;

}

#message-el {
    font-style: italic;
}


button {
    color: #016f32;
    font-size: 16px;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}

@media screen and (max-width: 900px) {
    .container {
        width: 80%;
        height: 70%
    }
}

@media screen and (max-width: 420px) {
    button {
        margin-bottom: 10px;
    }
}